# Gitignore for APCS Lowell repositories

# Ignore compiled processing class files
build-tmp/
void setup(){
  size(600, 600);
}
void draw(){
  background(252, 237, 237);
  fill(250, 202, 202);
  ellipse(300, 300, 200, 50);
  ellipse(400, 290, 80, 40);
  ellipse(150,200,200,200);
}
